/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End of CSS Reset */

body {
    font-size: 16px;
}

.main-container {
    width: 1448px;
    margin: 0 auto;
    color: black;
}

nav {
    margin: 2% 0%;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

a {
    color: white;
    padding: .5% 1%;
    text-align: center;
    width: 144px;
    border-radius: 20px;
    line-height: 1.25;
    text-decoration: none;
}


a:nth-child(1) {
    background-color: #FF764E;
}

a:nth-child(2) {
    background-color: #5ED3EB;
}

a:nth-child(3) {
    background-color: #FFCD69;
}

a, p {
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    font-size: 1.25rem;
}

footer {
    background-color: #F9E7DC;
}

h1 {
    font-family: 'Chelsea Market', cursive;
    font-size: 4rem;
    margin-bottom: 4%;
}

p {
    line-height: 1.25;
}

p:nth-child(1) {
    margin-bottom: 2%;
}


.header-circle {
    width: 340px;
    border-radius: 50%;
    margin-left: 10%;
}

.hero {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    margin: 6% auto;
}

.hero-info {
    text-align: center;
    width: 50%;
    margin-left: 12%;
}

.hero-p {
    margin-bottom: 4%;
}

.hero-p-bottom {
    width: 60%;
    margin: auto;
}

.about {
    background-color: #DDB9A3;
    padding: 1% 4%;
    margin-bottom: 2%;
}

.about-p {
    color: white;
    text-align: center;
}


.icon {
    width: 160px; 
}

strong {
    font-weight: bold;
}

.more-info {
    display: flex;
    align-items: center;
    flex-direction: column;
}


.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 50%;
    margin-bottom: 4%;
}

.info-container p {
    font-size: 1rem;
    font-weight: 300;
}

.footer-landscape {
    height: 240px;
    width: 100%;
}